@use "@src/assets/css/_functions" as fn;

$color: var(--color);
$bg-color: transparent;

// @function change-alpha($color, $alpha) {
//   @return rgb(from $color r g b / $alpha);
// }

.uiButton {
    background: $bg-color;
    color: $color;
    outline: none;
    border: 1px solid $color;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 4px;

    &:disabled {
        color: fn.change-alpha(var(--color), 0.4);
        cursor: not-allowed;
        border: 1px solid fn.change-alpha(var(--color), 0.4);
    }
}