.navBar {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 2rem 0;

    & .navItem {
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;

        &[data-status="active"] {
            font-weight: 600;
        }
    }
}
